body{
  background-image: url(blue.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size:  100% 100%
}
h3{
  text-align: center;
  color: purple;
}
p{
  text-align: center;
  color: purple;
}
table{
  border: solid purple;
  margin-left: auto;
  margin-right: auto;
}
 td{
  padding: 15px;
  border: solid purple;
}
